<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.yudikarma.moviecatalogsubmision2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="com.yudikarma.moviecatalogsubmision2.data.local.provider.MovieProvider.READ_WRITE" android:protectionLevel="normal"/>

    <application
            android:name=".MovieCatalogApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <provider
                android:name="com.yudikarma.moviecatalogsubmision2.data.local.provider.MovieProvider"
                android:authorities="com.yudikarma.moviecatalogsubmision2.data.local.provider"
                android:enabled="true"
                android:exported="true" android:permission="com.yudikarma.moviecatalogsubmision2.data.local.provider.MovieProvider.READ_WRITE"/>




        <activity android:name="com.yudikarma.moviecatalogsubmision2.feature.ui.match.MainActivity">
            <nav-graph android:value="@navigation/navigation_graph" />
        </activity>
        <activity android:name=".feature.ui.liga.activity.LigaDetailActivity"/>
        <activity android:name=".feature.ui.liga.activity.ListLigaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <uses-library android:name="android.test.runner"
                android:required="false" />
        <uses-library android:name="android.test.base"
                android:required="false" />
        <uses-library android:name="android.test.mock"
                android:required="false" />

    </application>

</manifest>